<!DOCTYPE html>
<html>
<head>  
  <link rel="stylesheet" href="/css/em.css"/>
  <link rel="stylesheet" href="/css/chart.css"/>     
  {{>common_header}}
</head>  

<script type="module">    
import emmainView from '/vue/em.js'  

new Vue({
     el: '#main',     
     components: { 
       'emmain-view': emmainView 
      },
     template: `<emmain-view></emmain-view>`
  });
  

</script>
<body>
  <div id="main">       
  </div>
</body>
<script>    
  let diarySearchUrl = '';   
  
  /**********************************************
    게시물 상세 클릭  
  ***********************************************/  
  const showcontent = function(obj) {
    let uuid = obj.children[2].firstElementChild.children[0].innerText; 
    
    diarySearchUrl = 'http://localhost:5013/list/';

    searchdiary(uuid).then(function(data) {
      
      if(data === '')
      { 
        alert(data.message); 
        return;
      }        
      else
      {          
        document.querySelector('#mail20').className = 'mail-choice';        
        document.getElementsByName("title")[0].disabled = true;
        document.getElementsByName("contents")[0].disabled = true;
        document.getElementsByName("textarea-icons")[0].style.display = 'none';
        
        document.querySelector('#mail20').classList.add(data.emotion_cd);   
        document.getElementsByName("title")[0].value = data.title;
        document.getElementsByName("contents")[0].value = data.contents; 
        document.getElementsByClassName('mail-time')[0].children[1].innerText = moment(String(data.date[0]) + String(data.date[1])+ String(data.date[2])).format('DD MMM, YYYY');
      }      
    })  
  }  
 
  /**********************************************
    다이어리 조회 
  ***********************************************/  
  const searchdiary = function(obj) {
    return new Promise((resolve) => { 
      fetch(diarySearchUrl + obj, {
      method: 'get', 
      headers: {
      'Content-Type': 'application/json'
      }
      })
      .then(res => resolve(res.json())) 
    })    
  }
    

</script>
<script src="/js/em.js"></script>  
<script src="/js/chart_data.js"></script>  
</html>

