<!DOCTYPE html>
<html>
<head>  
    <link rel="stylesheet" href="/css/login.css"/>   
	{{>common_header}}
</head>
<body>
<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
		<form name="form" class="form" method="post" action="/em">
			<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">	
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<script>

	// document.querySelector('#login-button').addEventListener('click', (e) => {
	// 	e.preventDefault();
	// 	document.form.submit();
	// })


</script>
</body>
</html>