<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/surfVideo.css"/>   
<script src="https://unpkg.com/vuex"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
<script src="/vue/surfVideoVue.js"></script>
<script src="/vue/surfVideoStore.js"></script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
</style>

</head>
<body>   
 <section class="webdesigntuts-workshop" id="surfVideo">
  <form action="" method="">		    
    <input type="search" id="searchText" placeholder="What are you looking for?" value="우왁굳">		    	
    <button id="search" v-on:click="commitVdNo">Search</button>
  </form>
  <p style="font-family: 'Montserrat', sans-serif;">The results for your search are...</p>   
</section>

 <div id="surfVideoTile">          
   <surfvideo-view></surfvideo-view> 
 </div>   
</body>
<script>   

  const surfVideoSt = new Vuex.Store(surfVideoStore);
  let twitchBjId = { user_id: ''};
 
   new Vue({
     el: '#surfVideo',  
     store: surfVideoSt, 
     methods: { 
      commitVdNo: function(e){   
        e.preventDefault();
  
        document.getElementById('youtubeVideoList').innerHTML = "";
        document.getElementById('twitchVideoList').innerHTML = "";       
        
        if( this.$data.searchInfo.q === '' )
        {
          alert('검색어를 입력하세요.');
          return;
        }

        /*----------------------------------------------------
         Twitch Video 검색
        ----------------------------------------------------*/ 
        this.searchTwitchIdVD().then(function(data) { 
          if(data !== null)
          {
            // 트위치 bj 아이디는 제일 먼저 검색되는 id 로 검색한다.... 
            twitchBjId.user_id = data.data[0].id;               
              
            // Twitch VD 찾기
            fetch('http://localhost:5001/searchTwitchVD', {
              method: 'post',
              headers: {
              'Content-Type': 'application/json'
              },
              body: JSON.stringify(twitchBjId)
              })
              .then(res => res.json())
              .then( function(data) {

                document.getElementById('twitch_logo').style.display = 'unset';

                for(let i =0; i<data.data.length; i++)
                {
                    document.getElementById('twitchVideoList').innerHTML += '<iframe class="twitchvd" src="" frameborder="0" allowfullscreen="true" autoplay="false" scrolling="no" height="378" width="620"></iframe>'
                    document.getElementsByClassName('twitchvd')[i].setAttribute("src", surfVideoSt.state.twcUrl.concat(data.data[i].id.concat('&parent=localhost&autoplay=false'))); 
                }
              }
              ) 
          }           
        })         

        /*----------------------------------------------------
         Youtube Video 검색
        ----------------------------------------------------*/
        this.searchYoutubeVD().then(function(data) { 
            if(data !== null)
            { 
              document.getElementById('youtube_logo').style.display = 'unset';

              for(let i =0; i<data.items.length; i++)
              {
                  document.getElementById('youtubeVideoList').innerHTML += '<iframe width="560" class="youtubevd" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
                  document.getElementsByClassName('youtubevd')[i].setAttribute("src", surfVideoSt.state.ytubeUrl + data.items[i].id.videoId); 
              }
            } 
        })
 
        },
        // Twitch Id
        searchTwitchIdVD: function(e){ 
          
          return new Promise((resolve) => {          
            fetch('http://localhost:5001/searchTwitchIdVD', {
              method: 'post',
              headers: {
              'Content-Type': 'application/json'
              },
              body: JSON.stringify(this.$data.searchInfo)
              })
              .then(res => resolve(res.json())) 
              })
        },
        // YouTube 
        searchYoutubeVD: function(e){  
          return new Promise((resolve) => {          
            fetch('http://localhost:5001/searchYoutubeVD', {
            method: 'post',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(this.$data.searchInfo)
            })
            .then(res => resolve(res.json()))
            
          })
        }
      },
      data: {
        // 검색어
        searchInfo: { 
          q: document.getElementById('searchText').value,
          query: document.getElementById('searchText').value 
        } 
      }
 
    });  

    new Vue({
     el: '#surfVideoTile', 
     component: 'surfvideo-view',
     store: surfVideoSt, 
     methods: { 
      
    }
 
   });  
 

 </script>
</html>

