<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Join</title>
    <meta name="_csrf"        content="{{_csrf.token}}"     />
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
    <link rel="stylesheet" href="/css/spray/sprayLogin.css"/>
    {{>spray/layout/header}}
</head>
<body>
{{>spray/board/boardInner/sprayLoginInner}}
<script>
     let auth = '{{#auth}}{{auth}}{{/auth}}';
 
     // 이메일 전송 기능
     document.querySelector('#email_cert').addEventListener('click', e => {
      
        if(document.querySelector('#email_cert').innerText==='CERT')
        {
          if(document.querySelector('#join_eaddr_cert').value === '')
          {
            Swal.fire({
                icon: 'warning',
                title: '',
                text: '인증번호를 입력해 주세요.',
                footer: ''
                })
          }
          else
          {
            // 메일 인증번호 인증
            let certKey = document.querySelector('#join_eaddr_cert').value;  

            fetch('/certMail', {
              method: 'post',
              credentials: 'include',
              headers: {
              'Content-Type': 'application/json',
              'X-CSRF-TOKEN': '{{_csrf.token}}'
              },
              body: JSON.stringify({
                  certKey: certKey
                })
              })
              .then( data => { return data.json(); })
              .then( res => {
                if(!res)
                {
                  Swal.fire({
                  icon: 'warning',
                  title: '',
                  text: '인증번호가 일치하지 않습니다.',
                  footer: ''
                  })
                }
                else
                {
                  // 인증 완료한 사용자 세션에 토큰을 부여하고 싶은데 어케허지... ㅡㅡ;;;; 
                  Swal.fire({
                  icon: 'success',
                  title: '',
                  text: '인증을 완료하였습니다.',
                  footer: ''
                  })

                  document.getElementById('join_tel').style.display = '';
                  document.getElementById('sign_up').style.display = '';
                  document.getElementById('join_eaddr_cert').style.display = 'none';
                  document.getElementById('email_cert').style.display = 'none';
                }

              })

          }
        }
        else
        {
          let mailadds = document.querySelector('#join_eaddr').value;  

          fetch('/sendMail', {
            method: 'post',
            credentials: 'include',
            headers: {
            'Content-Type': 'application/json',
            'X-CSRF-TOKEN': '{{_csrf.token}}'
            },
            body: JSON.stringify({
              mailadds: mailadds
              })
            })
          .then(       
                Swal.fire({
                icon: 'success',
                title: '',
                text: '메일로 인증번호를 전송하였습니다. 인증번호를 입력해주세요.',
                footer: ''
                }),
                document.querySelector('#email_cert').innerText = 'CERT'
          )  
        } 
     });


     document.querySelector('#sign_up').addEventListener('click', e => {

        // 신규 회원 입력 정보 셋팅
        userInfo.name = document.querySelector('#join_name').value;
        userInfo.eaddr = document.querySelector('#join_eaddr').value;
        userInfo.tel  = document.querySelector('#join_tel').value;

        if(userInfo.name === '' || userInfo.eaddr === '' || userInfo.tel === '')
        {
          Swal.fire({
              icon: 'warning',
              title: 'Oops...',
              text: '정보를 입력해 주세요.',
              footer: ''
            }) 
            return;
        }

        // 메소드 타입, 타이틀, 메시지 셋팅
        let initInfo    = _.find(apiInitInfo, { 'methodType': 'checkUser'});
        init.title      = initInfo.title;
        init.type       = initInfo.type;
        init.msg        = initInfo.msg;
        
        // 회원가입 여부 확인
        init.checkUser().then(function(data) {
          if(data.data.tel!=='')
          {
              Swal.fire({
              icon: 'warning',
              title: 'Oops...',
              text: init.msg,
              footer: ''
            })
          }
          else
          {
            // 회원가입
            initInfo        = _.find(apiInitInfo, { 'methodType': 'joinUser'});
            init.title      = initInfo.title;
            init.type       = initInfo.type;
            init.msg        = initInfo.msg;
            init.CSRFToken  = document.querySelector('meta[name="_csrf"]').getAttribute('content');

             init.join().then(function(data) {
              if(data.code!=='0000')
              {
                 Swal.fire({
                  icon: 'info',
                  title: '회원가입에 실패했습니다.',
                  footer: '<a href>도움이 필요하나요?</a>',
                  showConfirmButton: false,
                  timer: 1500
                })
              }
              else
              {
                 Swal.fire({
                  icon: 'success',
                  title: 'Welcome',
                  text: init.msg,
                  footer: '',
                  showConfirmButton: false,
                  timer: 1600
                })

                document.querySelectorAll('.join').forEach(function(userItem) {
                  userItem.value = '';
                });

                // 로그인 페이지로 이동
                document.querySelector('#signIn').click();
               }
            });
          };
        });
      });

    // 로그인
    document.querySelector('#sign_in').addEventListener('click', e => {
        document.main.tel.value = document.querySelector('#user_tel').value;
        document.main.submit();
    });

    $(document).ready(function()
    {
        if(auth === 'fail')
        {
            Swal.fire({
              icon: 'info',
              title: 'Oops...',
              text: '해당 번호는 회원이 아닙니다.',
              footer: '<a href>도움이 필요하나요?</a>'
            })
        }
    });

   </script>
</body>
</html>
