<header>
    <div class="toggle-menu-home" style="float: left;">
        <ul>
            <a href="#" class="nav" onclick="location.href='/spray/sprayMain/'">🐷🐷🐷Spray🐷🐷🐷</a>
        </ul>            
    </div>
    <div class="menu-links"> 
        <ul class="toggle-menu">
            <li class="toggle">
                <span class="toggle-menu-bar"></span>
                <span class="toggle-menu-bar"></span>
                <span class="toggle-menu-bar"></span>
            </li>
            <li class="content" style="display: none;">
                <ul>
                    <li><a href="/spray/board/boardFrontMenu?type=CS01" class="nav boardFrontMenu" id="boardFrontMenu">EyeLiner</a></li>
                    <li><a href="/spray/board/boardFrontMenu?type=CS02" class="nav boardFrontMenu">Blusher</a></li>
                    <li><a href="/spray/board/boardFrontMenu?type=CS03" class="nav boardFrontMenu">Powder</a></li>
                    <li><a href="/spray/board/boardFrontMenu?type=CS04" class="nav boardFrontMenu">EyeShadow</a></li>
                    <li><a href="/spray/board/boardFrontMenu?type=CS05" class="nav boardFrontMenu">Foundation</a></li>
                    <li><a href="/spray/board/boardFrontMenu?type=CS06" class="nav boardFrontMenu">Lipstick</a></li>
                    <li><a href="/spray/board/boardFrontMenu?type=CS07" class="nav boardFrontMenu">Perfume</a></li>
                    <li><a href="/spray/board/boardFrontMenu?type=CS08" class="nav boardFrontMenu">Mascara</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- 버튼 폰트 색상 지정 -->
    <style>
        .return-button { color: white; }
    </style>

</header>
<script>
    jQuery(document).ready(function($){
  $("li.content").hide();
  $("ul.toggle-menu").delegate("li.toggle", "click", function() {
  $(this).next().toggle("fast").siblings(".content").hide("fast");
    });
});
 

</script>