<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>🐷🐷🐷Spray🐷🐷🐷</title>
    <meta name="_csrf"        content="{{_csrf.token}}"     />
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
    <link rel="stylesheet" href="/css/spray/nav.css"/>
    <link rel="stylesheet" href="/css/spray/sprayMain.css"/>
    <script src="https://unpkg.com/vuex"></script>
    {{>spray/layout/header}}
    <script src="/js/spray/cosmeticList/cosmetics.js"></script>
    <script src="/js/spray/vue/sprayMainStore.js"></script>
    <script src="/js/spray/vue/sprayMainVue.js"></script>
</head>
<body>
{{>spray/nav/menu}}
<div id="app">
    <spray-component></spray-component>
</div>
<script>
    const loadbbs = new Vuex.Store(cosmeticStore);
    // 게시판
    document.querySelector('#boardFrontMenu').addEventListener('click', e => {
        location.href = '/spray/board/boardFrontMenu';
    });
 
    new Vue({
      el: '#app',
      store: loadbbs,
      component: 'spray-component',
      mounted() {
      this.$store.dispatch('cosmetic')
      }
    });
    
    
    window.onload = function() { 

        // Eye Liner
        let arr = ['CS01', 'CS02', 'CS03', 'CS04', 'CS05', 'CS06', 'CS07', 'CS08'];
        
        let proc = '';
        let imgDir = '';

        setTimeout(function() {
            for(var i in arr) {
            
            proc = document.getElementsByClassName(arr[i])[0].children[1].textContent;   
            imgDir = _.find(animalImg, {'product': proc.substr(-4)}).img;
            document.getElementById(arr[i]).setAttribute('src', imgDir);


        }        
        }, 300);


        







        
    };
    

</script>
</body>
</html>
